// UTILS
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixin';

// BASE
@import './base/common';

// COMPONEN
@import './components/conteiner';
@import './components/btn';
@import './components/tittle';
@import './components/backdrop';
@import './components/modal';
@import './components/modal-form';

// LAYOU;
@import './layout/header';
@import './layout/hero';
@import './layout/benefits';
@import './layout/than';
@import './layout/team';
@import './layout/client';
@import './layout/footers';
@import './layout/project';
@import './layout/mobile-menu';
