.benefits {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.benefits__item {
  &:not(:first-child) {
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.benefits-box {
  // margin-right: auto;
  // margin-left: auto;

  @include w-h(320px, 120px);
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  @include justify-content-center;

  @media screen and (max-width: 479px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 480px) {
    @include w-h(480px, 120px);
  }

  @media screen and (min-width: 768px) {
    @include w-h(354px, 120px);
  }

  @media screen and (min-width: 1200px) {
    @include w-h(270px, 120px);
  }
}

.benefits__caption {
  text-align: center;
  @include font(bold, 14px, 1.14);
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.benefits__text {
  @include font(normal, 14px, 1.71);
  color: var(--secondary-text-color);
  width: 330px;

  @media screen and (max-width: 479px) {
    text-align: center;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
