.client {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 0;
  }
}

.client__item {
  @include w-h(210px, 92px);
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 2 - 30px);

  @media screen and (min-width: 768px) {
    width: 226px;
    flex-basis: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.client__link {
  @include w-h(100%, 100%);
  @include justify-content-center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.client__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .client__link:hover &,
  .client__link:focus & {
    fill: var(--accent-color);
  }
}
