.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.about-team {
  width: 300px;
  margin-top: 30px;
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-photo {
  width: 100%;
}

.team-blok {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team-caption {
  @include font(500, 16px, 1.19);
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team-text {
  @include font(normal, 16px, 1.19);
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  @include w-h(44px, 44px);
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.social-item .social-link {
  @include w-h(100%, 100%);
  border-radius: 50%;
  @include justify-content-center;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link > .social-icon {
  fill: #afb1b8;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}
