.than-we {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.than-we-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.than-we-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.than-photo {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
  width: 270px;

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.than-img {
  width: 100%;
}

.than-photo-text {
  @include font(bold, 14px, 1.14);
  text-align: center;
  text-transform: uppercase;
  color: var(--header-color);
  background-color: rgba(47, 48, 58, 0.8);

  padding-top: 27px;
  padding-bottom: 27px;

  position: absolute;
  width: 100%;
  min-height: 70px;
  bottom: 0;
  left: 0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
