.modal-form {
}

.modal-form-head {
  @include font(bold, 20px, 1.15);
  text-align: center;
  color: var(--title-color);

  margin-bottom: 12px;
}

.modal-form-label {
  @include font(normal, 12px, 1.17, $ls: 0.01em);
  color: var(--secondary-text-color);
  display: block;

  margin-bottom: 10px;
}

.modal-position {
  position: relative;
  display: block;
}

.modal-form-input {
  @include w-h(100%, 40px);

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding-left: 42px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-coments {
  @include w-h(100%, 120px);

  padding: 12px 16px;
  /* margin-bottom: 20px; */

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    @include font(normal, 12px, 1.17, $ls: 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-label.textarea-lebel {
  margin-bottom: 20px;
}

.modal-policy {
  @include font(normal, 14px, 1.71);
  color: #757575;

  @include justify-content-center;

  margin-bottom: 30px;

  &::before {
    content: '';
    display: block;
    @include w-h(16px, 15px);
    border: 1px solid #212121;
    border-radius: 4px;

    cursor: pointer;
    margin-right: 7px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-form-checkbox:checked + &::before {
    border-radius: 2px;
    border-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-size: cover;
    background-origin: border-box;
  }
}

.modal-form-btn {
  @include w-h(200px, 50px);
  margin: 0 auto;

  @include font(bold, 16px, 1.87, 0.06em);
  @include justify-content-center;
  text-align: center;
  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px;
}
