.modal {
  position: absolute;
  width: 345px;
  min-height: 609px;

  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.modal-btn {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  @include w-h(30px, 30px);
  border-radius: 50%;

  position: absolute;
  top: 8px;
  right: 8px;

  @include justify-content-center;

  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
