@mixin font($fw, $fs, $lh, $ls: 0.03em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin w-h($w, $h) {
  width: $w;
  height: $h;
}

@mixin justify-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
